services:
  api:
    build:
      context: shm
      dockerfile: ./Dockerfile
      target: api
    restart: always
    links:
      - core
    ports:
      - "8080:80"
    environment:
      TRUSTED_IPS: "0.0.0.0/0"
      ENABLE_RATE_LIMIT: "false"
  core:
    build:
      context: shm
      dockerfile: ./Dockerfile
      target: core
    restart: always
    environment:
      DEV: 1
      DEBUG: DEBUG
      TRUNCATE_DB_ON_START: 1
      TZ: Europe/Moscow
      LANG: C.UTF-8
      DB_NAME: shm-db
      DB_USER: shm-db-user
      DB_PASS: shm-db-user-pass
      DB_HOST: mysql
      DB_PORT: 3306
    links:
      - mysql
    volumes:
      - ./shm/app/data:/app/data
      - ./shm/app:/app
    depends_on:
      mysql:
        condition: service_healthy
  webdav:
    image: danuk/shm-webdav:latest
    build:
      context: shm
      dockerfile: ./Dockerfile
      target: webdav
    restart: always
    ports:
      - "8888:80"
    volumes:
      - ./shm/app/data:/app/data
  spool:
    deploy:
      mode: replicated
      replicas: 1
    build:
      context: shm
      dockerfile: ./Dockerfile
      target: core
    restart: always
    environment:
      DEBUG: ERROR
      TZ: Europe/Moscow
      LANG: C.UTF-8
      SHM_ROLE: spool
      DB_NAME: shm-db
      DB_USER: shm-db-user
      DB_PASS: shm-db-user-pass
      DB_HOST: mysql
      DB_PORT: 3306
    links:
      - mysql
    volumes:
      - ./shm/app/data:/app/data
      - ./shm/app:/app
    depends_on:
      mysql:
        condition: service_healthy
  client:
    build:
      context: shm-client
      dockerfile: ./Dockerfile
      target: client
    restart: always
    environment:
      SHM_HOST: http://api
    volumes:
      - ./shm-client/app:/app
    ports:
      - "8082:80"
    links:
      - api
  mysql:
    image: mysql:lts
    environment:
      TZ: Europe/Moscow
      LANG: C.UTF-8
      MYSQL_ROOT_PASSWORD: shm-db-root-pass
      MYSQL_DATABASE: shm-db
      MYSQL_USER: shm-db-user
      MYSQL_PASSWORD: shm-db-user-pass
    volumes:
      - mysql-data:/var/lib/mysql
    healthcheck:
      test: "mysqladmin ping -h 127.0.0.1 -u $$MYSQL_USER --password=$$MYSQL_PASSWORD"
      interval: 5s
      timeout: 3s
      retries: 10
  redis:
    image: redis:latest
    ports:
      - "127.0.0.1:6379:6379"
    restart: always

volumes:
  mysql-data:
    driver: local

